<script>
  import init, { valid } from "parser";
  let initialized;
  init().then(() => (initialized = true));
  let text = "(these <brackets (are {} ) > [balanced])";

  $: isValid = initialized && text && text.length > 0 ? valid(text) : false;
</script>

{#if initialized}
  <div>
    <p>this parser verifies that nested brackets are balanced</p>
    <input type="text" bind:value={text} />
    {#if isValid}
      <p>brackets are balanced</p>
    {:else}
      <p>brackets are not balanced</p>
    {/if}
  </div>
{/if}

<style>
  div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  p,
  input {
    text-align: center;
  }
</style>
